<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <style>
        body {
            text-align: center;
            max-width: 450px;
        }

        div {
            border: 2px solid black;
            border-radius: 10px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
{% include '_menu.html' %}
<div>
    <h1>
        Developer
    </h1>
    <p>
    <h3>
        Sergey Volchenko
    </h3>
    Student at Voronezh State University<br>
    <a href="https://github.com/sevolchenko">GitHub</a>
    </p>
</div>
</body>
</html>