<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>


        div {
            border: 2px solid black;
            border-radius: 10px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
{% include '_menu.html' %}
<div>
    <h1>
        Nonogram (Japanese crossword)
    </h1>
    <h2>
        Rules
    </h2>
    <p>
        These puzzles are often black and white—describing a binary image—but they can also be colored. If colored, the number clues are also colored to indicate the color of the squares. Two differently colored numbers may or may not have a space in between them. For example, a black four followed by a red two could mean four black boxes, some empty spaces, and two red boxes, or it could simply mean four black boxes followed immediately by two red ones.
    </p>
</div>
</body>
</html>